{% extends "inventory/base.html" %}

{% block page_header %}
<div>
  <h1 class="text-center">My Inventory</h1>
</div>

{% endblock page_header %}

{% block content %}
  <a class="btn btn-info my-3" href="{% url 'inventory:add_item' %}" role="button">Add a new item</a>
  <div class="d-flex flex-column justify-content-center">
    {% if grocery_item %}
    <table class="text-center">
      <tr class="border-2 border-start-0 border-end-0 border-bottom border-top">
        <th>ID</th>
        <th>Image</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Currency</th>
        <th>Description</th>
        <th>Brand</th>
        <th>Unit of Measurement</th>
        <th>Amount</th>
        <th>Exp Date</th>
        <th>Mfg Date</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      {% endif %}
      {% for item in grocery_item %}
        <tr class="border-bottom">
          <td class="border-end">{{ item.pk }}</td>
          <td>{{ item.image }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>${{ item.price }}</td>
          <td>{{ item.currency }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.brand }}</td>
          <td>{{ item.unit_of_measurement }}</td>
          <td>{{ item.sku_size|default_if_none:"" }}</td>
          <td>{{ item.exp_date|date:"n/j/y" }}</td>
          <td>{{ item.mfg_date|date:"n/j/y" }}</td>
          <td>
            <a class="btn btn-warning" href="{% url 'inventory:edit_item' item.pk %}" role="button">Edit</a>
          </td>
          <td>
            <a class="btn btn-danger" href="{% url 'inventory:delete_item' item.pk %}" role="button">X</a>
          </td>

        </tr>

      {% empty %}
        <h3>No items have been added yet.</h3>
      {% endfor %}

    </table>
    
      

    
    
  </div>
    
  


{% endblock content %}
